/* Reset e configurações iniciais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    padding-top: 30px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
    text-align: left;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group input {
    width: 18%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.input-group button {
    width: 12%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.input-group button:hover {
    background-color: #45a049;
}

#stock-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#stock-table th, #stock-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

#stock-table th {
    background-color: #f4f4f4;
}

button.remove-product {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

button.complete-task {
    background: none;
    border: none;
    color: green;
    cursor: pointer;
}

button.add-quantity, button.remove-quantity {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
}

button.add-quantity {
    background-color: green;
}

button.remove-quantity {
    background-color: red;
}

button.add-quantity:hover, button.remove-quantity:hover {
    opacity: 0.8;
}

#stock-counter {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.completed {
    background-color: #e0ffe0;  /* Marca a célula com fundo verde claro quando o item é completado */
    text-decoration: line-through;
    color: gray;
}


